<div class="w3-container">
  <div style="text-align:center;"><pre class="tab"><%= link_to t('en'), "/en/memes" %>    <%= link_to t('de'), "/de/memes" %></pre></div>
  <h1><%= t('modmin.all_memes') %></h1>
</div>
<% @memes.each do |meme| %>
  <div class="w3-cell-row">
    <div class="w3-cell w3-container">
      <p>
      <div><%= image_tag meme.image, class: 'img' %></div>
      <div><%= link_to t('modmin.show_meme'), meme_path(meme) %>
            <%= link_to t('modmin.destroy_meme'), meme_path(id: meme.id),
              method: :delete,
              data: { confirm: t('modmin.delete_msg')} %>
      </div>
      <div><h3><%= t('modmin.all_comments') %></h3> <%= render meme.comments %></div>
      </p>
    </div>
  </div>
<% end %>