.col-md-4
  .row.bg-main-meme
    .col-12.d-flex.justify-content-between
      %div.d-flex.align-items-center.user-name
        %i.bi.bi-person-circle.fs-2.me-2{style: "color: #808080"}
        %a{href: "#{'?user=' + meme.user.username}"}
          %span
            = meme.user.username
      %div.d-flex.align-items-center.meme-more

        .dropdown
          %button.more-btn#dropdownMenuButton1{"aria-expanded" => "false",
                                               "data-bs-toggle" => "dropdown",
                                               :type => "button"}
            %i.bi.bi-three-dots.fs-2.ms-2
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
            %li
              = link_to 'Report',
                        '#',
                        class: "dropdown-item open-report-window-meme-btn",
                        "data-bs-target" => "#reportMemeModal",
                        "data-bs-toggle" => "modal",
                        "meme_id" => meme.id
            - if user_signed_in? && @user.id == meme.user_id
              %li
                %hr.dropdown-divider
              %li
                = link_to t('pages.index.delete_meme.btn-menu'),
                          {controller: "memes", action: "destroy", id: meme.id},
                          class: "dropdown-item text-danger",
                          method: :delete

    - if meme.reports.count > 3
      .col-12.position-relative
        %div.position-absolute.top-50.start-50.translate-middle.z-inx-9.w-75.text-center.text-light
          = t('pages.index.report_for_meme.cnt_mdr')
        = image_tag meme.image, class: 'w-100 blur-filter'
    - else
      .col-12
        = image_tag meme.image, class: 'w-100'
    .col-8.d-flex.align-items-center.tags
      - meme.tags.each do |tag|
        %span.me-2
          %a{href: "#{'?tag=' + tag.name}"}
            = '#' + tag.name
    .col-4.d-flex.justify-content-end.align-items-center.mt-1
      - if user_signed_in?
        .user-signed-in
      %span.me-1
        = meme.likes.count
      - if liked?(meme)
        %i.bi.bi-heart-fill.fs-3.color-light-blue.meme-like-add-remove{:meme_id => meme.id,
                                                                       :checked => true,
                                                                       :like_id => get_like(meme).id}
      - else
        %i.bi.bi-heart.fs-3.meme-like-add-remove{:meme_id => meme.id,
                                                 :checked => false}
      %span.ms-2.me-1.comments-count{:meme_id => meme.id,}
        = meme.comments.count
      %i.bi.bi-chat-left-dots.fs-3.all-comments{:meme_id => meme.id,
                                                "data-bs-target" => "#commentsModal",
                                                "data-bs-toggle" => "modal"}