- if user_signed_in?
  = render "add-meme-btn-mobile"
%nav.navbar.navbar-light.bg-light-blue.navbar-expand-lg.fixed-top.hidden-xs.hidden-sm
  .container-fluid
    %a#h-logo.navbar-brand{:href => "/" + I18n.locale.to_s}
      = t('pages.index.home')
    %button.navbar-toggler{"aria-controls"  => "offcanvasNavbar",
                           "data-bs-target" => "#offcanvasNavbar",
                           "data-bs-toggle" => "offcanvas",
                           :type => "button"}
      %span#h-toggler-icon.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end.bg-light-blue{"aria-labelledby" => "offcanvasNavbarLabel", :tabindex => "-1"}
      .offcanvas-header.mb-0.pb-0
        - if user_signed_in? 
          .user_id_not_security{"user_id" => current_user.id}
        %h5#offcanvasNavbarLabel.offcanvas-title Menu
        %button.btn-close.text-reset{"aria-label" => "Close",
                                     "data-bs-dismiss" => "offcanvas",
                                     :type => "button"}
      .offcanvas-body
        %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
          %li#lang-selector.nav-item.dropdown.px-0.py-0
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded"  => "false",
                                                               "data-bs-toggle" => "dropdown",
                                                               :href => "#",
                                                               :role => "button"}
              - if I18n.locale == :en
                %img{:src => "/images/lang-usa.png"}/
              - if I18n.locale == :de
                %img{:src => "/images/lang-germany.png"}/
            %ul.dropdown-menu.bg-light-blue{"aria-labelledby" => "navbarDropdownMenuLink"}
              %li
                %a.dropdown-item{:href => "/en"}
                  %img.me-1{:src => "/images/lang-usa.png"}/
                  = t('pages.index.navbar-lang-en')
              %li
                %a.dropdown-item{:href => "/de"}
                  %img.me-1{:src => "/images/lang-germany.png"}/
                  = t('pages.index.navbar-lang-de')
          - if user_signed_in?
            %li.nav-item.account-dropdown-menu
              = link_to t('menu.addMeme'),
                          '#',
                          class: "nav-link my-0 py-0",
                          "data-bs-target" => "#addMemeModal",
                          "data-bs-toggle" => "modal"
            - unless @user.role == 'user'
              %li.nav-item.account-dropdown-menu
                = link_to 'Reports',
                           moderators_path,
                           class: "nav-link my-0 py-0"
            %li.nav-item.dropdown.account-dropdown-menu
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false",
                                                         "data-bs-toggle" => "dropdown",
                                                         :href => "#",
                                                         :role => "button"}
                -# = t('pages.index.navbar-acc-menu')
                = @user.username
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown", :style => "left: -3.7rem !important"}
                %li
                  = link_to t('pages.index.navbar-acc-stat'),
                            '#',
                            class: "dropdown-item",
                            "data-bs-target" => "#statisticModal",
                            "data-bs-toggle" => "modal"
                %li
                  = link_to t('menu.edit'),
                            '#',
                            class: "dropdown-item my-0 py-0",
                            "data-bs-target" => "#editUserModal",
                            "data-bs-toggle" => "modal"
                %li
                  %hr.dropdown-divider/
                %li
                  = link_to t('menu.log_out'),
                            destroy_user_session_path,
                            method: :delete,
                            class: "dropdown-item my-0 py-0 text-danger"
            %li.nav-item.account-mobile-menu
              = link_to t('menu.addMeme'),
                          '#',
                          class: "nav-link my-0 py-0",
                          "data-bs-target" => "#addMemeModal",
                          "data-bs-toggle" => "modal"
            %li.nav-item.account-mobile-menu
              = link_to t('pages.index.navbar-acc-stat'),
                           '#',
                           class: "nav-link my-0 py-0",
                           "data-bs-target" => "#statisticModal",
                           "data-bs-toggle" => "modal"
            %li.nav-item.account-mobile-menu
              = link_to t('menu.edit'),
                          '#',
                          class: "nav-link my-0 py-0",
                          "data-bs-target" => "#editUserModal",
                          "data-bs-toggle" => "modal"
            .col-12.mt-3.account-mobile-menu
              %hr.w-100/
            %li.nav-item.account-mobile-menu
              = link_to t('menu.log_out'),
                        destroy_user_session_path,
                        method: :delete,
                        class: "nav-link my-0 py-0 text-danger"
          - else
            %li.nav-item
              = link_to t('pages.index.sign_in.title'),
                        '#',
                        class: "nav-link my-0 py-0 sign-in-btn",
                        "data-bs-target" => "#loginModal",
                        "data-bs-toggle" => "modal"
            %li.nav-item
              = link_to t('pages.index.sign_up.title'),
                        '#',
                        class: "nav-link my-0 py-0 sign-up-btn",
                        "data-bs-target" => "#signupModal",
                        "data-bs-toggle" => "modal"